.stack-container {
  text-align: center;
  color: var(--text-color);
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  pointer-events: none;
}

.stack-container h2 {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 8px;
}

.stack-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 200px;
  font-size: 1.8rem;
  pointer-events: auto;
  
}

.stack-icons svg {
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
}

.stack-icons svg:hover {
  transform: scale(1.2);
  color: var(--button-border);
}

/* RESPONSIVE (MOBILE) */
@media (max-width: 768px) {
  .stack-container {
    position: fixed;
    bottom: 120px;
    right: 15px;
  }

  .stack-container h2 {
    font-size: 1rem;
  }

  .stack-icons {
    font-size: 1.5rem;
    max-width: 180px;
    gap: 6px;
  }
}

@media (max-width: 480px) {
  .stack-container {
    bottom: 115px;
    right: 10px;
  }

  .stack-container h2 {
    font-size: 0.9rem;
  }

  .stack-icons {
    font-size: 1.3rem;
    max-width: 150px;
    gap: 5px;
  }
}

@media (max-width: 375px) {
  .stack-container {
    bottom: 110px;
    right: 8px;
  }

  .stack-icons {
    font-size: 1.2rem;
    max-width: 130px;
  }
}
