.stack-container {
  text-align: center;
  margin: 2rem 0;
  color: var(--text-color);
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.stack-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.8rem;
}

.stack-icons svg {
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
  margin-left: 10px;
}

.stack-icons svg:hover {
  transform: scale(1.2);
  color: var(--button-border);
}
